normalizer
colorama
ffmpeg-python
filelock
fsspec
future
idna
jinja2
llvmlite
more-itertools
mpmath
networkx
numba
numpy
openai-whisper
regex
requests
sympy
tiktoken
torch
tqdm
typing-extensions
urllib3
yt-dlp 